body{
    margin: 0;
    background-color: rgb(142, 173, 186);
    border: 1px solid rgb(142, 173, 186);
    border-radius: 5px;
    padding: 5px;
}

.container img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
hr{
    border:1px solid black;
}

.histori {
    border: 1px solid black;
    width: 100%;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(59, 58, 58);
}
